@{
    ViewBag.Title = "Home Page";
}



<div class="row" data-bind="visible: $data.isShowButton">
    <input id="UploadFile" type="button" value="Upload File" data-bind="click: $data.OnChange" />
</div>

<div class="row">   
    <select id="AppType" data-bind="event: {change: $data.OnChange}"><!--"onchange" should be binded in this way-->
        <option>JavaScript</option>
        <option>DLL</option>
    </select>
</div>

<script type="text/javascript" src="~/Scripts/logic/index/indexlogic.js"></script><!--Add your viewmodel at the end of the HTML, or it won't work-->





